:root {
  --clr-black: #222222;
  --clr-grey: #666;
  --clr-yellow: #fff710;
  --fnt-bold: 800;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Helevtica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-black);
  font-weight: var(--fnt-bold);
}

img {
  display: block;
}
